* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
}

body {
  background-image: url(https://images.unsplash.com/photo-1710162734220-d543f0dff259?q=80&w=1332&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: 1s background-image ease-in-out;
  width: 100%;
  font-family: "Inter";
  height: 100%;
}

#dekstopUi {
  position: relative;
}

#loader {
  background-color: black;
  width: 100%;
  height: 100%;
  color: #fff;
  z-index: 99999;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: fixed;
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: "Inter";
  gap: 0.02rem;
  font-size: 2rem;
  transition: opacity 0.6s ease;
}

header {
  overflow: hidden;
  position: static;
}
header .head {
  display: flex;
  justify-content: space-between;
  padding: 0.4rem;
  width: 100%;
  height: 100%;
  background-color: rgb(55, 54, 54);
}
header .head .right li a {
  font-weight: 500;
}
header .head .right li a img {
  font-weight: 500;
  width: 1rem;
  cursor: pointer;
  margin-top: 0.1rem;
}
header .head div ul {
  display: flex;
  gap: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
}
header .head div ul li {
  list-style: none;
}
header .head div ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  font-size: 0.9rem;
}
header .head div ul li a img {
  width: 0.9rem;
  cursor: pointer;
}

#appleMenu {
  color: #fff;
  font-weight: 400;
  padding: 0.8rem;
  width: -moz-fit-content;
  width: fit-content;
  background-color: rgb(55, 54, 54);
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  margin: 1rem;
  top: 1.6rem;
  left: 0.1rem;
  position: absolute;
  display: none;
  z-index: 1000;
}
#appleMenu ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
#appleMenu ul hr {
  border: none;
  height: 1px;
  width: 100%;
  border-radius: 1px;
  background-color: #777;
}
#appleMenu ul li {
  list-style: none;
  letter-spacing: 0.5px;
  padding: 4px 0;
  transition: 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  cursor: pointer;
}
#appleMenu ul li:hover {
  background: rgb(68, 68, 217);
  border-radius: 4px;
  padding-left: 6px;
}

#aboutModal {
  position: relative;
  display: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}
#aboutModal div {
  position: absolute;
  width: -moz-fit-content;
  width: fit-content;
  top: 0.2rem;
  left: 11.5rem;
  right: 0;
  bottom: 0;
  color: #fff;
  z-index: 1000;
}
#aboutModal div ul {
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: rgb(55, 54, 54);
}
#aboutModal div ul li {
  list-style: none;
  cursor: pointer;
  font-weight: 300;
  letter-spacing: 0.5px;
  padding: 4px 0;
  transition: 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
#aboutModal div ul li p {
  font-size: 0.8rem;
  color: #ccc;
}
#aboutModal div ul li strong {
  font-weight: 500;
}
#aboutModal div ul li:hover {
  background: rgb(68, 68, 217);
  border-radius: 4px;
  padding-left: 6px;
}
#aboutModal div ul hr {
  border: none;
  height: 1px;
  width: 100%;
  border-radius: 1px;
  background-color: #777;
}
#aboutModal div ul h2 {
  font-weight: 600;
  font-size: 1.2rem;
  color: #fff;
  margin-bottom: 0.1rem;
  padding: 4px 0;
  cursor: pointer;
}
#aboutModal div ul span {
  font-weight: 400;
  color: #ccc;
  font-size: 1rem;
  padding: 4px 0;
  cursor: pointer;
}

#shutdownScreen {
  display: none;
  width: 100%;
  position: fixed;
  top: 0;
  height: 100%;
  z-index: 9999;
  background-color: black;
}
#shutdownScreen .shutdownContent {
  color: #fff;
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#shutdownScreen .shutdownContent p {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}
#shutdownScreen .shutdownContent button {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  background-color: rgb(68, 68, 217);
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 0.5rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
#shutdownScreen .shutdownContent button:hover {
  background-color: rgb(50, 50, 170);
}
#shutdownScreen .shutdownContent button:active {
  transform: scale(0.9);
}

#lockScreen {
  display: none;
  z-index: 10000;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  color: #fff;
  background-color: black;
}
#lockScreen .lockOverlay {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
#lockScreen .lockOverlay h1 {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 1px;
}
#lockScreen .lockOverlay #unlockBtn {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  background-color: rgb(68, 68, 217);
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 0.5rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
#lockScreen .lockOverlay #unlockBtn:hover {
  background-color: rgb(50, 50, 170);
}
#lockScreen .lockOverlay #unlockBtn:active {
  transform: scale(0.9);
}

#systemSettingScreeen {
  display: none;
  position: fixed;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}
#systemSettingScreeen .systemSettingContent {
  position: relative;
}
#systemSettingScreeen .systemSettingContent ul {
  display: flex;
  flex-direction: column;
  width: -moz-fit-content;
  width: fit-content;
  gap: 1rem;
  position: absolute;
  background-color: rgb(55, 54, 54);
  padding: 1rem;
  top: 3.4rem;
  left: 11.5rem;
  border-radius: 1rem;
}
#systemSettingScreeen .systemSettingContent ul li {
  list-style: none;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  padding: 4px 0;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}
#systemSettingScreeen .systemSettingContent ul li:hover {
  background-color: rgb(68, 68, 217);
}
#systemSettingScreeen .systemSettingContent ul li input {
  margin-right: 0.5rem;
  margin-top: 0.2rem;
  cursor: pointer;
  accent-color: #777;
}
#systemSettingScreeen .systemSettingContent ul hr {
  border: none;
  height: 1px;
  width: 100%;
  border-radius: 1px;
  background-color: #777;
}

#systemControls {
  display: none;
  position: relative;
  top: 0.3rem;
  left: 65%;
  width: -moz-fit-content;
  width: fit-content;
  background-color: rgb(55, 54, 54);
  color: #fff;
  height: 23rem;
  border-radius: 1rem;
}
#systemControls .insideControls {
  width: -moz-fit-content;
  width: fit-content;
  padding: 2rem;
  border-radius: 1rem;
}
#systemControls .controlR1 {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}
#systemControls .controlR1 button {
  width: 10rem;
  height: 4rem;
  background-color: #766e6e;
  border: none;
  border-radius: 0.6rem;
  cursor: pointer;
  transition: 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
#systemControls .controlR1 button:active {
  transform: scale(0.98);
}
#systemControls .controlR1 button img {
  width: 1.7rem;
}
#systemControls .controlR2 {
  width: 100%;
  height: 100%;
  margin-top: 1.5rem;
}
#systemControls .controlR2 button {
  width: 100%;
  height: 4rem;
  background-color: #766e6e;
  border: none;
  border-radius: 0.6rem;
  cursor: pointer;
  transition: 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
#systemControls .controlR2 button:active {
  transform: scale(0.98);
}
#systemControls .controlR2 button img {
  width: 2rem;
}
#systemControls .range {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}
#systemControls .range label {
  margin-bottom: 0.5rem;
  font-weight: 500;
  font-size: 1rem;
}
#systemControls .rangess {
  width: 100%;
  height: 15px;
  background: transparent;
  border-radius: 8px;
  outline: none;
}

#userCard {
  display: none;
  flex-direction: row;
  width: -moz-fit-content;
  width: fit-content;
  position: fixed;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  top: 50%;
  left: 50%;
  padding: 1.5rem;
  color: #fff;
  border-radius: 1rem;
  transform: translate(-50%, -50%);
  background-color: rgb(55, 54, 54);
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
#userCard img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 1px solid rgb(10, 132, 255);
  cursor: pointer;
}
#userCard .user-details {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
}
#userCard .user-details .username {
  font-size: 1.2rem;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
}
#userCard .user-details .status {
  font-size: 0.7rem;
  color: #ccc;
  font-weight: 300;
}
#userCard .user-actions {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  gap: 1rem;
  margin-left: 0.5rem;
}
#userCard .user-actions button {
  padding: 4px 8px;
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: 600;
  border: none;
  background-color: rgb(10, 132, 255);
  cursor: pointer;
  color: #fff;
  transition: 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
#userCard .user-actions button:active {
  transform: scale(0.96);
}

#logScreen {
  display: none;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  gap: 1rem;
}
#logScreen .logoutcard {
  color: #fff;
  background-color: #b19aac;
  padding: 2rem;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.5rem;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  gap: 0.5rem;
  justify-content: center;
  height: -moz-fit-content;
  height: fit-content;
}
#logScreen .logoutcard img {
  width: 2rem;
}
#logScreen .logoutcard h2 {
  font-size: 2.2rem;
  letter-spacing: 1px;
  font-weight: 300;
}
#logScreen .logoutcard p {
  font-size: 1.2rem;
  font-weight: 300;
  text-transform: capitalize;
}
#logScreen .logoutcard button {
  padding: 5px 10px;
  width: 8rem;
  border: none;
  border-radius: 0.3rem;
  font-size: 1rem;
  font-weight: 600;
  background-color: rgb(14, 102, 191);
  color: #fff;
  margin-top: 0.4rem;
  transition: 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  cursor: pointer;
}
#logScreen .logoutcard button:active {
  transform: scale(0.96);
}

#wifibtnContainer {
  display: none;
  position: fixed;
}
#wifibtnContainer #wifiBtn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  left: 70rem;
  top: 0.2rem;
  width: 14rem;
  max-width: 8rem;
  gap: 0.1rem;
  border-radius: 1rem;
  cursor: pointer;
  background-color: rgb(55, 54, 54);
  border: none;
  padding: 0.5rem;
}
#wifibtnContainer #wifiBtn img {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  margin-right: 0.5rem;
}
#wifibtnContainer #wifiBtn span {
  font-size: 1rem;
  font-weight: 500;
}

#batteryContainer {
  display: none;
  position: fixed;
}
#batteryContainer button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  left: 68rem;
  font-size: 0.9rem;
  top: 0.2rem;
  width: 7rem;
  font-weight: 600;
  max-width: 8rem;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: rgb(55, 54, 54);
  border: none;
  padding: 0.5rem;
}

#contextItems {
  display: none;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  transition: opacity 0.2s ease;
  z-index: 12000;
}
#contextItems ul {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  background: rgba(46, 42, 42, 0.174);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  color: #fff;
  padding: 1rem;
  gap: 0.5rem;
  border-radius: 0.5rem;
}
#contextItems ul li {
  list-style: none;
  font-weight: 500;
  width: 100%;
  cursor: pointer;
  padding: 4px 0;
  transition: 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
#contextItems ul li:hover {
  background-color: rgba(68, 68, 217, 0.5);
  border-radius: 4px;
  padding-left: 6px;
}
#contextItems ul hr {
  border: none;
  height: 1px;
  width: 100%;
  border-radius: 1px;
  background-color: #777;
}

#terminalapp {
  display: none;
  position: fixed;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: rgb(40, 39, 39);
  color: #fff;
  border-radius: 0.3rem;
  margin-top: 1rem;
  margin-left: 1rem;
  overflow: auto;
  z-index: 12000;
}
#terminalapp .tcontent {
  position: relative;
  width: 40rem;
  height: 25rem;
  transition: 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
#terminalapp .tcontent .header {
  display: flex;
  width: 100%;
  height: 1.5rem;
  margin-top: 0;
  background-color: rgb(82, 80, 80);
}
#terminalapp .tcontent .header .btncontrols {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 0.4rem;
  z-index: 1200;
}
#terminalapp .tcontent .header .btncontrols li {
  list-style: none;
  width: 0.8rem;
  margin: 0 0.3rem;
  cursor: pointer;
  border-radius: 50%;
  height: 0.8rem;
}
#terminalapp .tcontent .header .btncontrols .red {
  background-color: rgb(255, 0, 0);
}
#terminalapp .tcontent .header .btncontrols .ylw {
  background-color: rgb(234, 234, 9);
}
#terminalapp .tcontent .header .btncontrols .green {
  background-color: #27c93f;
}
#terminalapp .tcontent .header .text {
  width: 100%;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}
#terminalapp .terminal-body {
  margin-top: 0.5rem;
  margin-left: 0.3rem;
}
#terminalapp .terminal-body pre {
  transition: 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  font-size: 0.9rem;
  font-weight: 500;
}
#terminalapp .terminal-body pre strong {
  color: #27c93f;
}
#terminalapp .terminal-body .terminal-input {
  display: flex;
  flex-direction: row;
  gap: 0.4rem;
  color: #fff;
}
#terminalapp .terminal-body .terminal-input input {
  border: none;
  font-size: 0.9rem;
  background: none;
  outline: none;
  color: #fff;
}
#terminalapp .terminal-body .terminal-input strong {
  color: #27c93f;
}

#dock {
  position: fixed;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  height: 3.5rem;
}
#dock ul {
  margin-bottom: 0.2rem;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 0.3rem;
  gap: 0.2rem;
}
#dock ul li {
  list-style: none;
}
#dock ul li img {
  width: 3rem;
  transition: 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
#dock ul li img:hover {
  transform: scale(1.3);
}

#dockerLauncher {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
}
#dockerLauncher .dockerLauncherContent {
  position: absolute;
  padding: 1rem;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
#dockerLauncher .dockerLauncherContent ul {
  display: flex;
  gap: 3rem;
  margin-top: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  flex-wrap: wrap;
  row-gap: 4rem;
}
#dockerLauncher .dockerLauncherContent ul li {
  list-style: none;
}
#dockerLauncher .dockerLauncherContent ul li img {
  width: 3rem;
  transition: 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
#dockerLauncher .dockerLauncherContent ul li img:hover {
  transform: scale(1.3);
}
#dockerLauncher .dockerLauncherContent ul li img {
  width: 4.8rem;
}
#dockerLauncher .dockerLauncherContent ul li p {
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  width: 4.6rem;
  color: #fff;
  margin-top: -0.3rem;
}

#InsideDockBattery {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#InsideDockBattery button {
  padding: 15px 30px;
  border: none;
  text-transform: capitalize;
  background-color: rgba(46, 42, 42, 0.7);
  color: #fff;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.5rem;
  border-radius: 0.7rem;
}

#calenderBox {
  display: none;
  position: fixed;
  width: 20rem;
  height: 9rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  background-color: rgb(40, 39, 39);
  color: #fff;
  border-radius: 0.3rem;
  margin-top: 1rem;
  margin-left: 1rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
  z-index: 12000;
  transition: 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
#calenderBox .calenderitems {
  position: relative;
  width: 100%;
  height: 100%;
}
#calenderBox .calenderitems .header {
  display: flex;
  width: 100%;
  height: 1.5rem;
  margin-top: 0;
  background-color: rgb(82, 80, 80);
}
#calenderBox .calenderitems .header .btncontrols {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 0.4rem;
  z-index: 1200;
}
#calenderBox .calenderitems .header .btncontrols li {
  list-style: none;
  width: 0.8rem;
  margin: 0 0.3rem;
  cursor: pointer;
  border-radius: 50%;
  height: 0.8rem;
}
#calenderBox .calenderitems .header .btncontrols .red {
  background-color: rgb(255, 0, 0);
}
#calenderBox .calenderitems .header .btncontrols .ylw {
  background-color: rgb(234, 234, 9);
}
#calenderBox .calenderitems .header .btncontrols .green {
  background-color: #27c93f;
}
#calenderBox .calenderitems .header .text {
  width: 100%;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}
#calenderBox .calenderitems .parentofcalendertext {
  position: absolute;
  left: 50%;
  top: 50%;
  font-weight: 500;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
#calenderBox .calenderitems .parentofcalendertext p {
  transition: 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

#notesApp {
  display: none;
  width: 40rem;
  position: fixed;
  height: 25rem;
  background-color: black;
  color: #fff;
  border-radius: 0.3rem;
  margin-top: 1rem;
  margin-left: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  overflow: auto;
  z-index: 120000;
  transition: 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
#notesApp .notesItem {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#notesApp .notesItem .header {
  display: flex;
  width: 100%;
  height: 1.5rem;
  margin-top: 0;
  background-color: rgb(82, 80, 80);
}
#notesApp .notesItem .header .btncontrols {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 0.4rem;
  z-index: 1200;
}
#notesApp .notesItem .header .btncontrols li {
  list-style: none;
  width: 0.8rem;
  margin: 0 0.3rem;
  cursor: pointer;
  border-radius: 50%;
  height: 0.8rem;
}
#notesApp .notesItem .header .btncontrols .red {
  background-color: rgb(255, 0, 0);
}
#notesApp .notesItem .header .btncontrols .ylw {
  background-color: rgb(234, 234, 9);
}
#notesApp .notesItem .header .btncontrols .green {
  background-color: #27c93f;
}
#notesApp .notesItem .header .text {
  width: 100%;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}
#notesApp .notesItem .notesBody {
  overflow: hidden;
}
#notesApp .notesItem .notesBody textarea {
  padding: 0.5rem;
  font-family: "Inter";
  font-weight: 400;
  width: 40rem;
  font-size: 0.9rem;
  height: 25rem;
  background-color: black;
  color: #fff;
  outline: none;
  border: none;
  overflow: hidden;
  transition: 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

#calculatorApp {
  width: 20rem;
  background-color: #2c2c2c;
  border-radius: 10px;
  overflow: hidden;
  color: white;
  font-family: "Arial";
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  position: fixed;
  margin-top: 1rem;
  margin-left: 1rem;
  display: none;
  transition: 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
#calculatorApp .header {
  display: flex;
  width: 100%;
  height: 1.5rem;
  margin-top: 0;
  background-color: rgb(82, 80, 80);
}
#calculatorApp .header .btncontrols {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 0.4rem;
  z-index: 1200;
}
#calculatorApp .header .btncontrols li {
  list-style: none;
  width: 0.8rem;
  margin: 0 0.3rem;
  cursor: pointer;
  border-radius: 50%;
  height: 0.8rem;
}
#calculatorApp .header .btncontrols .red {
  background-color: rgb(255, 0, 0);
}
#calculatorApp .header .btncontrols .ylw {
  background-color: rgb(234, 234, 9);
}
#calculatorApp .header .btncontrols .green {
  background-color: #27c93f;
}
#calculatorApp .header .text {
  width: 100%;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}
#calculatorApp .btncontrols {
  display: flex;
  margin-left: 0.5rem;
}
#calculatorApp .btncontrols li {
  width: 0.8rem;
  height: 0.8rem;
  margin: 0 0.3rem;
  border-radius: 50%;
  list-style: none;
  cursor: pointer;
}
#calculatorApp .btncontrols .red {
  background-color: #ff5f56;
}
#calculatorApp .btncontrols .ylw {
  background-color: #ffbd2e;
}
#calculatorApp .btncontrols .green {
  background-color: #27c93f;
}
#calculatorApp .textterminal {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 0.8rem;
  color: white;
}

.calculator {
  padding: 1rem;
}
.calculator input {
  width: 100%;
  height: 3rem;
  font-size: 1.4rem;
  text-align: right;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: none;
  outline: none;
  border-radius: 6px;
  background-color: #1e1e1e;
  color: white;
}
.calculator .calc-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}
.calculator .calc-buttons .btn {
  padding: 1rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 8px;
  background-color: #4d4d4d;
  color: white;
  cursor: pointer;
  transition: background 0.2s;
}
.calculator .calc-buttons .btn:hover {
  background-color: #606060;
}
.calculator .calc-buttons .btn.equal {
  grid-column: span 4;
  background-color: #2196f3;
}
.calculator .calc-buttons .btn.equal:hover {
  background-color: #1976d2;
}

#fileManagerapp {
  position: fixed;
  margin-top: 1rem;
  margin-left: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  background-color: black;
  width: 40rem;
  color: #fff;
  overflow: hidden;
  border-radius: 7px;
  height: 25rem;
  display: none;
  transition: 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
#fileManagerapp .filemanagercontent {
  width: 100%;
  height: 100%;
  position: relative;
}
#fileManagerapp .filemanagercontent .header {
  display: flex;
  width: 100%;
  height: 1.5rem;
  margin-top: 0;
  background-color: rgb(82, 80, 80);
}
#fileManagerapp .filemanagercontent .header .btncontrols {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 0.4rem;
  z-index: 1200;
}
#fileManagerapp .filemanagercontent .header .btncontrols li {
  list-style: none;
  width: 0.8rem;
  margin: 0 0.3rem;
  cursor: pointer;
  border-radius: 50%;
  height: 0.8rem;
}
#fileManagerapp .filemanagercontent .header .btncontrols .red {
  background-color: rgb(255, 0, 0);
}
#fileManagerapp .filemanagercontent .header .btncontrols .ylw {
  background-color: rgb(234, 234, 9);
}
#fileManagerapp .filemanagercontent .header .btncontrols .green {
  background-color: #27c93f;
}
#fileManagerapp .filemanagercontent .header .text {
  width: 100%;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}
#fileManagerapp .filemanagercontent .finderBody {
  display: flex;
  width: 100%;
  height: calc(100% - 1.5rem);
}
#fileManagerapp .filemanagercontent .finderBody .sideBar {
  width: 30%;
  background-color: #4d4d4d;
  border-right: 1px solid #ccc;
  padding: 0.5rem;
}
#fileManagerapp .filemanagercontent .finderBody .sideBar ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
#fileManagerapp .filemanagercontent .finderBody .sideBar ul li {
  padding: 0.6rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  list-style: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
#fileManagerapp .filemanagercontent .finderBody .sideBar ul li:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
#fileManagerapp .filemanagercontent .finderBody .mainAreaOfFile {
  width: 70%;
  background-color: #2d2d2d;
  display: flex;
  flex-direction: column;
}
#fileManagerapp .filemanagercontent .finderBody .mainAreaOfFile #docuementSection, #fileManagerapp .filemanagercontent .finderBody .mainAreaOfFile #downloadSection, #fileManagerapp .filemanagercontent .finderBody .mainAreaOfFile #pictureSection, #fileManagerapp .filemanagercontent .finderBody .mainAreaOfFile #musicSection, #fileManagerapp .filemanagercontent .finderBody .mainAreaOfFile #dekstopSection {
  position: relative;
}
#fileManagerapp .filemanagercontent .finderBody .mainAreaOfFile #docuementSection .fileItems, #fileManagerapp .filemanagercontent .finderBody .mainAreaOfFile #downloadSection .fileItems, #fileManagerapp .filemanagercontent .finderBody .mainAreaOfFile #pictureSection .fileItems, #fileManagerapp .filemanagercontent .finderBody .mainAreaOfFile #musicSection .fileItems, #fileManagerapp .filemanagercontent .finderBody .mainAreaOfFile #dekstopSection .fileItems {
  position: static;
}
#fileManagerapp .filemanagercontent .finderBody .mainAreaOfFile .currentPath {
  height: 2.5rem;
  padding-left: 0.5rem;
  display: flex;
  align-items: center;
  background-color: #4d4d4d;
  font-size: 0.9rem;
  border-bottom: 1px solid #fff;
}
#fileManagerapp .filemanagercontent .finderBody .mainAreaOfFile .currentPath p {
  font-size: 1rem;
  font-weight: 500;
}
#fileManagerapp .filemanagercontent .finderBody .mainAreaOfFile .fileGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}
#fileManagerapp .filemanagercontent .finderBody .mainAreaOfFile .fileGrid .fileItems {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: center;
  color: #fff;
}
#fileManagerapp .filemanagercontent .finderBody .mainAreaOfFile .fileGrid .fileItems img {
  width: 4rem;
  height: 4rem;
  cursor: grab;
}
#fileManagerapp .filemanagercontent .finderBody .mainAreaOfFile .fileGrid .fileItems p {
  margin-top: 0.5rem;
  font-size: 0.9rem;
}

#editMenu {
  position: fixed;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#editMenu div {
  color: #fff;
  width: -moz-fit-content;
  width: fit-content;
}
#editMenu div ul {
  border-radius: 1rem;
  background-color: rgb(55, 54, 54);
  padding: 1rem;
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
}
#editMenu div ul li {
  list-style: none;
  font-weight: 500;
  cursor: pointer;
  font-size: 1rem;
}
#editMenu div ul li:hover {
  background-color: #2196f3;
  padding: 3px 6px;
  transition: 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  border-radius: 0.4rem;
}
#editMenu div ul li input {
  outline: none;
  padding: 5px 10px;
  font-weight: 400;
  font-size: 0.9rem;
  border: none;
  color: #fff;
  border-radius: 0.2rem;
  background-color: rgb(43, 41, 41);
}

#galleryApp {
  display: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  position: fixed;
}
#galleryApp .gallery-content {
  top: 1rem;
  left: 1rem;
  width: 40rem;
  position: relative;
  color: #fff;
  height: 25rem;
  overflow: hidden;
  border-radius: 7px;
  background-color: #2d2d2d;
  transition: 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
#galleryApp .gallery-content .header {
  display: flex;
  width: 100%;
  height: 1.5rem;
  margin-top: 0;
  background-color: rgb(82, 80, 80);
}
#galleryApp .gallery-content .header .btncontrols {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 0.4rem;
  z-index: 1200;
}
#galleryApp .gallery-content .header .btncontrols li {
  list-style: none;
  width: 0.8rem;
  margin: 0 0.3rem;
  cursor: pointer;
  border-radius: 50%;
  height: 0.8rem;
}
#galleryApp .gallery-content .header .btncontrols .red {
  background-color: rgb(255, 0, 0);
}
#galleryApp .gallery-content .header .btncontrols .ylw {
  background-color: rgb(234, 234, 9);
}
#galleryApp .gallery-content .header .btncontrols .green {
  background-color: #27c93f;
}
#galleryApp .gallery-content .header .text {
  width: 100%;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}
#galleryApp .gallery-content .gallery-grid {
  display: flex;
  flex-wrap: wrap;
  padding: 0.9rem;
  gap: 1.5rem;
}
#galleryApp .gallery-content .gallery-grid div img {
  width: 6rem;
  height: 8rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 3px;
}

#clockApp {
  display: none;
  position: fixed;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25rem;
  height: 18rem;
  background-color: #1f1f1f;
  color: #fff;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
#clockApp .clock-content {
  width: 100%;
  height: 100%;
}
#clockApp .clock-content .header {
  display: flex;
  width: 100%;
  height: 1.5rem;
  margin-top: 0;
  background-color: rgb(82, 80, 80);
}
#clockApp .clock-content .header .btncontrols {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 0.4rem;
  z-index: 1200;
}
#clockApp .clock-content .header .btncontrols li {
  list-style: none;
  width: 0.8rem;
  margin: 0 0.3rem;
  cursor: pointer;
  border-radius: 50%;
  height: 0.8rem;
}
#clockApp .clock-content .header .btncontrols .red {
  background-color: rgb(255, 0, 0);
}
#clockApp .clock-content .header .btncontrols .ylw {
  background-color: rgb(234, 234, 9);
}
#clockApp .clock-content .header .btncontrols .green {
  background-color: #27c93f;
}
#clockApp .clock-content .header .text {
  width: 100%;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}
#clockApp .clock-content .clock-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-family: "Courier New", Courier, monospace;
}
#clockApp .clock-content .clock-body h1 {
  transition: 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  font-size: 3rem;
  margin-bottom: 1rem;
}

#binApp {
  display: none;
  position: fixed;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30rem;
  height: 20rem;
  background-color: #1e1e1e;
  color: #fff;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
#binApp .bin-content {
  width: 100%;
  height: 100%;
}
#binApp .bin-content .header {
  display: flex;
  width: 100%;
  height: 1.5rem;
  margin-top: 0;
  background-color: rgb(82, 80, 80);
}
#binApp .bin-content .header .btncontrols {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 0.4rem;
  z-index: 1200;
}
#binApp .bin-content .header .btncontrols li {
  list-style: none;
  width: 0.8rem;
  margin: 0 0.3rem;
  cursor: pointer;
  border-radius: 50%;
  height: 0.8rem;
}
#binApp .bin-content .header .btncontrols .red {
  background-color: rgb(255, 0, 0);
}
#binApp .bin-content .header .btncontrols .ylw {
  background-color: rgb(234, 234, 9);
}
#binApp .bin-content .header .btncontrols .green {
  background-color: #27c93f;
}
#binApp .bin-content .header .text {
  width: 100%;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}
#binApp .bin-content .bin-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-family: "Segoe UI", sans-serif;
}
#binApp .bin-content .bin-body .empty-text {
  font-size: 1.5rem;
  color: #999;
  font-weight: 500;
  letter-spacing: 1px;
}

#safariApp {
  display: none;
  position: fixed;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40rem;
  height: 25rem;
  background-color: #1e1e1e;
  border-radius: 10px;
  color: #fff;
  overflow: hidden;
  transition: 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
#safariApp .safari-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
#safariApp .safari-content .header {
  display: flex;
  width: 100%;
  height: 1.5rem;
  margin-top: 0;
  background-color: rgb(82, 80, 80);
}
#safariApp .safari-content .header .btncontrols {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 0.4rem;
  z-index: 1200;
}
#safariApp .safari-content .header .btncontrols li {
  list-style: none;
  width: 0.8rem;
  margin: 0 0.3rem;
  cursor: pointer;
  border-radius: 50%;
  height: 0.8rem;
}
#safariApp .safari-content .header .btncontrols .red {
  background-color: rgb(255, 0, 0);
}
#safariApp .safari-content .header .btncontrols .ylw {
  background-color: rgb(234, 234, 9);
}
#safariApp .safari-content .header .btncontrols .green {
  background-color: #27c93f;
}
#safariApp .safari-content .header .text {
  width: 100%;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}
#safariApp .safari-content .address-bar {
  width: 100%;
  padding: 0.7rem 1rem;
  background-color: #2c2c2c;
  display: flex;
  gap: 0.6rem;
  align-items: center;
}
#safariApp .safari-content .address-bar input {
  flex: 1;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: none;
  outline: none;
  background-color: #3a3a3a;
  color: #fff;
  font-size: 1rem;
}
#safariApp .safari-content .address-bar button {
  padding: 0.5rem 1.2rem;
  background-color: #2196f3;
  color: #fff;
  font-weight: 600;
  border: none;
  font-size: 1rem;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
#safariApp .safari-content .address-bar button:hover {
  background-color: #1976d2;
}
#safariApp .safari-content .webpage-view {
  flex: 1;
  padding: 2rem;
  background-color: #121212;
  overflow-y: auto;
  background-image: url("https://i.pinimg.com/736x/b5/28/07/b5280781ac2a53da10ab5e457c0afb1f.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
#safariApp .safari-content .webpage-view p {
  font-size: 1.1rem;
  color: black;
  font-weight: 800;
  text-align: center;
}/*# sourceMappingURL=style.css.map */